footer{
    
    ul{
        border-bottom:3px solid #be9869;
        li{
            margin-left:14px;
            font-size:16px;
        }
    }

    .sosial{
        a{
            i{
                font-size:30px;
                color:#3b2c87;
                margin-top:10px;
            }
        }
    }

    .copyright{
        width:100%;
        padding:10px;
        font-size:16px;
    }
}